@font-face {
  font-family: 'IranSans';
  src: url('/fonts/iransans/IRANSans.eot') format('eot');
  src: url('/fonts/iransans/IRANSans.ttf') format('truetype'), url('/fonts/iransans/IRANSans.woff') format('woff'), url('/fonts/iransans/IRANSans.eot') format('embedded-opentype'), url('/fonts/iransans/IRANSans.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}